# Python pandas tutorial: The ultimate guide for beginners

Are you ready to begin your pandas journey? Here’s a step-by-step guide on how to get started.

pandas is arguably the most important Python package for data analysis. With over 100 million downloads per month, it is the de facto standard package for data manipulation and exploratory data analysis. Its ability to read from and write to an extensive list of formats makes it a versatile tool for data science practitioners. Its data manipulation functions make it a highly accessible and practical tool for aggregating, analyzing, and cleaning data. 

In our blog post on [how to learn pandas](https://www.datacamp.com/blog/how-to-learn-pandas), we discussed the learning path you may take to master this package. This beginner-friendly tutorial will cover all the basic concepts and illustrate pandas' different functions. You can also check out our course on [pandas Foundations](https://www.datacamp.com/courses/data-manipulation-with-pandas) for further details. 

This article is aimed at beginners with basic knowledge of Python and no prior experience with pandas to help you get started.

## What is pandas?

pandas is a data manipulation package in Python for tabular data. That is, data in the form of rows and columns, also known as DataFrames. Intuitively, you can think of a DataFrame as an Excel sheet. 

pandas’ functionality includes data transformations, like [sorting rows](https://www.datacamp.com/tutorial/pandas-sort-values) and taking subsets, to calculating summary statistics such as the mean, reshaping DataFrames, and joining DataFrames together. pandas works well with other popular Python data science packages, often called the PyData ecosystem, including

- [**NumPy**](https://www.datacamp.com/tutorial/python-numpy-tutorial) for numerical computing
- [**Matplotlib**](https://www.datacamp.com/tutorial/matplotlib-tutorial-python), [**Seaborn**](https://www.datacamp.com/tutorial/seaborn-python-tutorial), [**Plotly**](https://www.datacamp.com/courses/introduction-to-data-visualization-with-plotly-in-python), and other data visualization packages
- [**scikit-learn**](https://www.datacamp.com/tutorial/machine-learning-python) for machine learning


## What is pandas used for?

pandas is used throughout the data analysis workflow. With pandas, you can:

- Import datasets from databases, spreadsheets, comma-separated values (CSV) files, and more.
- Clean datasets, for example, by dealing with missing values.
- Tidy datasets by reshaping their structure into a suitable format for analysis.
- Aggregate data by calculating summary statistics such as the mean of columns, correlation between them, and more.
- Visualize datasets and uncover insights.


pandas also contains functionality for time series analysis and analyzing text data.

## Key benefits of the pandas package

Undoubtedly, pandas is a powerful data manipulation tool packaged with several benefits, including:

- **Made for Python:** Python is the world's most popular language for machine learning and data science.
- **Less verbose per unit operations:** Code written in pandas is less verbose, requiring fewer lines of code to get the desired output.  
- **Intuitive view of data:** pandas offers exceptionally intuitive data representation that facilitates easier data understanding and analysis. 
- **Extensive feature set:** It supports an extensive set of operations from exploratory data analysis, dealing with missing values, calculating statistics, visualizing univariate and bivariate data, and much more.
- **Works with large data:** pandas handles large data sets with ease. It offers speed and efficiency while working with datasets of the order of millions of records and hundreds of columns, depending on the machine.


## How to install pandas?

Before delving into its functionality, let us first install pandas. You can avoid this step by [registering for a free DataCamp account](https://www.datacamp.com/users/sign_up) and using [DataLab](https://www.datacamp.com/datalab), DataLab cloud-based IDE that comes with pandas (alongside the top python data science packages) pre-installed.

### Install pandas

Installing pandas is straightforward; just use the `pip install` command in your terminal.

In [108]:
pip install pandas

## Importing data in pandas

To begin working with pandas, import the pandas Python package as shown below. When importing pandas, the most common alias for pandas is `pd`.

In [109]:
import pandas as pd

### Importing CSV files

Use `read_csv()` with the path to the CSV file to read a comma-separated values file (see our [tutorial on importing data with read_csv()](https://www.datacamp.com/tutorial/pandas-read-csv) for more detail).

In [110]:
df = pd.read_csv("diabetes.csv")

This read operation loads the CSV file `diabetes.csv` to generate a pandas Dataframe object `df`. Throughout this tutorial, you'll see how to manipulate such DataFrame objects. 

### Importing text files

Reading text files is similar to CSV files. The only nuance is that you need to specify a separator with the `sep` argument, as shown below. The separator argument refers to the symbol used to separate rows in a DataFrame. Comma (`sep = ","`), whitespace(`sep = "\s"`), tab (`sep = "\t"`), and colon(`sep = ":"`) are the commonly used separators. Additionaly, a regular expression is accepted. Here `"r\s+"` represents at least one white space character.

In [111]:
df = pd.read_csv("diabetes.txt", sep="r\s+")

### Importing Excel files (single sheet)

Reading excel files (both XLS and XLSX) is as easy as the `read_excel()` function, using the file path as an input.

In [112]:
df = pd.read_excel('diabetes.xlsx')

You can also specify other arguments, such as `header` for to specify which row becomes the DataFrame's header. It has a default value of `0`, which denotes the first row as headers or column names. You can also specify column names as a list in the `names` argument. The `index_col` (default is `None`) argument can be used if the file contains a row index.

_**Note:** In a pandas DataFrame or Series, the index is an identifier that points to the location of a row or column in a pandas DataFrame. In a nutshell, the index labels the row or column of a DataFrame and lets you access a specific row or column by using its index (you will see this later on). A DataFrame’s row index can be a range (e.g., 0 to 303), a time series (dates or timestamps), a unique identifier (e.g., _`employee_ID`_ in an _`employees`_ table), or other types of data. For columns, it's usually a string (denoting the column name)._

### Importing Excel files (multiple sheets)

Reading Excel files with multiple sheets is not that different. You just need to specify one additional argument, `sheet_name`, where you can either pass a string for the sheet name or an integer for the sheet position (note that Python uses 0-indexing, where the first sheet can be accessed with `sheet_name = 0`)

In [113]:
# Extracting the second sheet since Python uses 0-indexing
df = pd.read_excel('diabetes_multi.xlsx', sheet_name=1)

### Importing JSON file

Similar to the `read_csv()` function, you can use `read_json()` for JSON file types with the JSON file name as the argument (for more detail read [this tutorial on importing JSON and HTML data into pandas](https://www.datacamp.com/tutorial/importing-data-into-pandas)). The below code reads a JSON file from disk and creates a DataFrame object `df`.

In [114]:
df = pd.read_json("diabetes.json")

If you want to learn more about importing data with pandas, check out this [cheat sheet](https://www.datacamp.com/cheat-sheet/importing-data-in-python-cheat-sheet) on importing various file types with Python. 

## Outputting data in pandas

Just as pandas can import data from various file types, it also allows you to export data into various formats. This happens especially when data is transformed using pandas and needs to be saved locally on your machine. Below is how to output pandas DataFrames into various formats.

### Outputting a DataFrame into a CSV file

A pandas DataFrame (here we are using `df`) is saved as a CSV file using the `.to_csv()` method. The arguments include the filename with path and `index` – where `index = True` implies writing the DataFrame’s index.

In [115]:
df.to_csv("diabetes_out.csv", index=False)

### Outputting a DataFrame into a JSON file

Export DataFrame object into a JSON file by calling the `.to_json()` method.

In [116]:
df.to_json("diabetes_out.json")

_**Note:** A JSON file stores a tabular object like a DataFrame as a key-value pair. Thus you would observe repeating column headers in a JSON file._

### Outputting a DataFrame into a text file

As with writing DataFrames to CSV files, you can call `.to_csv()`. The only differences are that the output file format is in `.txt`, and you need to specify a separator using the `sep` argument.

In [117]:
df.to_csv('diabetes_out.txt', header=df.columns, index=None, sep=' ')

### Outputting a DataFrame into an Excel file

Call `.to_excel()` from the DataFrame object to save it as a `“.xls”` or `“.xlsx”` file.

In [118]:
df.to_excel("diabetes_out.xlsx", index=False)

## Viewing and understanding DataFrames using pandas 

After reading tabular data as a DataFrame, you would need to have a glimpse of the data. You can either view a small sample of the dataset or a summary of the data in the form of summary statistics.

### How to view data using `.head()` and `.tail()`

You can view the first few or last few rows of a DataFrame using the `.head()` or `.tail()` methods, respectively. You can specify the number of rows through the `n` argument (the default value is 5).

In [119]:
df.head() # The first five rows of the DataFrame

In [120]:
df.tail(n = 10) # The last 10 rows of the DataFrame

### Understanding data using `.describe()`

The `.describe()` method prints the summary statistics of all numeric columns, such as count, mean, standard deviation, range, and quartiles of numeric columns.

In [121]:
df.describe()

It gives a quick look at the scale, skew, and range of numeric data.

You can also modify the quartiles using the `percentiles` argument. Here, for example, we’re looking at the 30%, 50%, and 70% percentiles of the numeric columns in DataFrame `df`.

In [122]:
df.describe(percentiles=[0.3, 0.5, 0.7])

You can also isolate specific data types in your summary output by using the `include` argument. Here, for example, we’re only summarizing the columns with the `integer` data type.

In [123]:
df.describe(include=[int])

Similarly, you might want to exclude certain data types using `exclude` argument.

In [124]:
df.describe(exclude=[int])

Often, practitioners find it easy to view such statistics by transposing them with the `.T` attribute.

In [125]:
df.describe().T

For more on describing DataFrames, check out the following [cheat sheet](https://www.datacamp.com/cheat-sheet/pandas-cheat-sheet-data-wrangling-in-python).

### Understanding data using `.info()`

The `.info()` method is a quick way to look at the data types, missing values, and data size of a DataFrame. Here, we’re setting the `show_counts` argument to `True`, which gives a few over the total non-missing values in each column. We’re also setting `memory_usage` to `True`, which shows the total memory usage of the DataFrame elements. When `verbose` is set to `True`, it prints the full summary from `.info()`.

In [126]:
df.info(show_counts=True, memory_usage=True, verbose=True)

### Understanding your data using `.shape`

The number of rows and columns of a DataFrame can be identified using the `.shape` attribute of the DataFrame. It returns a tuple (row, column) and can be indexed to get only rows, and only columns count as output.

In [127]:
df.shape # Get the number of rows and columns

In [128]:
df.shape[0] # Get the number of rows only

In [129]:
df.shape[1] # Get the number of columns only

### Get all columns and column names

Calling the `.columns` attribute of a DataFrame object returns the column names in the form of an `Index` object. As a reminder, a pandas index is the address/label of the row or column.

In [130]:
df.columns

It can be converted to a list using a `list()` function.

In [131]:
list(df.columns)

### Checking for missing values in pandas with `.isnull()`

The sample DataFrame does not have any missing values. Let's introduce a few to make things interesting. The `.copy()` method makes a copy of the original DataFrame. This is done to ensure that any changes to the copy don’t reflect in the original DataFrame. Using `.loc` (to be discussed later), you can set rows two to five of the `Pregnancies` column to `NaN` values, which denote missing values.

In [132]:
df2 = df.copy()
df2.loc[2:5,'Pregnancies'] = None
df2.head(7)

_You can see, that now rows 2 to 5 are `NaN`_

You can check whether each element in a DataFrame is missing using the `.isnull()` method.

In [133]:
df2.isnull().head(7)

Given it's often more useful to know how much missing data you have, you can combine `.isnull()` with `.sum()` to count the number of nulls in each column.

In [134]:
df2.isnull().sum()

You can also do a double sum to get the total number of nulls in the DataFrame.

In [135]:
df2.isnull().sum().sum()

## Slicing and Extracting Data in pandas

The pandas package offers several ways to subset, filter, and isolate data in your DataFrames. Here, we'll see the most common ways.

### Isolating one column using `[ ]` 

You can isolate a single column using a square bracket `[ ]` with a column name in it. The output is a pandas `Series` object. A pandas Series is a one-dimensional array containing data of any type, including integer, float, string, boolean, python objects, etc. A DataFrame is comprised of many series that act as columns.

In [136]:
df['Outcome']

### Isolating two or more columns using `[[ ]]` 

You can also provide a list of column names inside the square brackets to fetch more than one column. Here, square brackets are used in two different ways. We use the outer square brackets to indicate a subset of a DataFrame, and the inner square brackets to create a list.

In [137]:
df[['Pregnancies', 'Outcome']]

### Isolating one row using `[ ]` 

A single row can be fetched by passing in a boolean series with one `True` value. In the example below, the second row with `index = 1` is returned. Here, `.index` returns the row labels of the DataFrame, and the comparison turns that into a Boolean one-dimensional array.

In [138]:
df[df.index==1]

### Isolating two or more rows using `[ ]` 

Similarly, two or more rows can be returned using the `.isin()` method instead of a `==` operator.

In [139]:
df[df.index.isin(range(2,10))]

### Using `.loc[]` and `.iloc[]` to fetch rows

You can fetch specific rows by labels or conditions using `.loc[]` and `.iloc[]` ("location" and "integer location"). `.loc[]` uses a label to point to a row, column or cell, whereas `.iloc[]` uses the numeric position. To understand the difference between the two, let’s modify the index of `df2` created earlier.

In [140]:
df2.index = range(1,769)

The below example returns a pandas `Series` instead of a DataFrame. The `1` represents the row index (label), whereas the `1` in .`iloc[]` is the row position (first row).

In [141]:
df2.loc[1]

In [142]:
df2.iloc[1]

You can also fetch multiple rows by providing a range in square brackets.

In [143]:
df2.loc[100:110]

In [144]:
df2.iloc[100:110]

You can also subset with `.loc[]` and `.iloc[]` by using a list instead of a range.

In [145]:
df2.loc[[100, 200, 300]]

In [146]:
df2.iloc[[100, 200, 300]]

You can also select specific columns along with rows. This is where `.iloc[]` is different from `.loc[]` – it requires column location and not column labels.

In [147]:
df2.loc[100:110, ['Pregnancies', 'Glucose', 'BloodPressure']]

In [148]:
df2.iloc[100:110, :3]

For faster workflows, you can pass in the starting index of a row as a range.

In [149]:
df2.loc[760:, ['Pregnancies', 'Glucose', 'BloodPressure']]

In [150]:
df2.iloc[760:, :3]

You can update/modify certain values by using the assignment operator `=`

In [151]:
df2.loc[df2['Age'] == 81, 'Age'] = 80

### Conditional slicing (that fits certain conditions)

pandas lets you filter data by conditions over row/column values. For example, the below code selects the row where Blood Pressure is exactly 122. Here, we are isolating rows using the brackets `[ ]` as seen in previous sections. However, instead of inputting row indices or column names, we are inputting a condition where the column `BloodPressure` is equal to 122. We denote this condition using `df.BloodPressure == 122`.

In [152]:
df[df.BloodPressure == 122]

The below example fetched all rows where `Outcome` is 1. Here `df.Outcome` selects that column, `df.Outcome == 1` returns a Series of Boolean values determining which `Outcomes` are equal to 1, then `[]` takes a subset of `df` where that Boolean Series is `True`.

In [153]:
df[df.Outcome == 1]

You can use a `>` operator to draw comparisons. The below code fetches `Pregnancies`, `Glucose`, and `BloodPressure` for all records with `BloodPressure` greater than 100.

In [154]:
df.loc[df['BloodPressure'] > 100, ['Pregnancies', 'Glucose', 'BloodPressure']]

## Cleaning data using pandas 

Data cleaning is one of the most common tasks in data science. pandas lets you preprocess data for any use, including but not limited to training machine learning and deep learning models. Let’s use the DataFrame `df2` from earlier, having four missing values, to illustrate a few data cleaning use cases. As a reminder, here's how you can see how many missing values are in a DataFrame.

In [155]:
df2.isnull().sum()

### Dealing with missing data technique #1: Dropping missing values

One way to deal with missing data is to drop it. This is particularly useful in cases where you have plenty of data and losing a small portion won’t impact the downstream analysis. You can use a `.dropna()` method as shown below. Here, we are saving the results from `.dropna()` into a DataFrame `df3`.

In [156]:
df3 = df2.copy()
df3 = df3.dropna()
df3.shape
# Result is 4 rows less than df2

The `axis` argument lets you specify whether you are dropping rows, or [columns](https://www.datacamp.com/tutorial/pandas-drop-column), with missing values. The default `axis` removes the rows containing NaNs. Use `axis = 1` to remove the columns with one or more NaN values. Also, notice how we are using the argument `inplace=True` which lets you skip saving the output of `.dropna()` into a new DataFrame.

In [157]:
df3 = df2.copy()
df3.dropna(inplace=True, axis=1)
df3.head()

You can also drop both rows and columns with missing values by setting the `how` argument to `'all'`

In [158]:
df3 = df2.copy()
df3.dropna(inplace=True, how='all')

### Dealing with missing data technique #2: Replacing missing values

Instead of dropping, replacing missing values with a summary statistic or a specific value (depending on the use case) maybe the best way to go. For example, if there is one missing row from a temperature column denoting temperatures throughout the days of the week, replacing that missing value with the average temperature of that week may be more effective than dropping values completely. You can replace the missing data with the row, or column mean using the code below.

In [159]:
df3 = df2.copy()
# Get the mean of Pregnancies
mean_value = df3['Pregnancies'].mean()
# Fill missing values using .fillna()
df3 = df3.fillna(mean_value)

### Dealing with Duplicate Data

Let's add some duplicates to the original data to learn how to eliminate duplicates in a DataFrame. Here, we are using the `.concat()` method to concatenate the rows of the `df2` DataFrame to the `df2` DataFrame, adding perfect duplicates of every row in `df2`.

In [160]:
df3 = pd.concat([df2, df2])
df3.shape

You can remove all duplicate rows (default) from the DataFrame [using `.drop_duplicates()` method](https://www.datacamp.com/tutorial/pandas-drop-duplicates).

In [161]:
df3 = df3.drop_duplicates()
df3.shape

### Renaming columns

A common data cleaning task is renaming columns. With the `.rename()` method, you can use `columns` as an argument to rename specific columns. The below code shows the dictionary for mapping old and new column names.

In [162]:
df3.rename(columns = {'DiabetesPedigreeFunction':'DPF'}, inplace = True)
df3.head()

You can also directly assign column names as a list to the DataFrame.

In [163]:
df3.columns = ['Glucose', 'BloodPressure', 'SkinThickness', 'Insulin', 'BMI', 'DPF', 'Age', 'Outcome', 'STF']
df3.head()

For more on data cleaning, and for easier, more predictable data cleaning workflows, check out the following checklist, which provides you with a comprehensive set of common [data cleaning tasks](https://www.datacamp.com/blog/infographic-data-cleaning-checklist). 

## Data analysis in pandas

The main value proposition of pandas lies in its quick data analysis functionality. In this section, we'll focus on a set of analysis techniques you can use in pandas.

### Summary operators (mean, mode, median)

As you saw earlier, you can get the mean of each column value using the `.mean()` method.

In [164]:
df.mean()

A mode can be computed similarly using the `.mode()` method.

In [165]:
df.mode()

Similarly, the median of each column is computed with the `.median()` method

In [166]:
df.median()

### Create new columns based on existing columns 

pandas provides fast and efficient computation by combining two or more columns like scalar variables. The below code divides each value in the column `Glucose` with the corresponding value in the `Insulin` column to compute a new column named `Glucose_Insulin_Ratio`.

In [167]:
df2['Glucose_Insulin_Ratio'] = df2['Glucose']/df2['Insulin']
df2.head()

### Counting using `.value_counts()`

Often times you'll work with categorical values, and you'll want to count the number of observations each category has in a column. Category values can be counted using the .`value_counts()` methods. Here, for example, we are counting the number of observations where `Outcome` is diabetic (1) and the number of observations where the `Outcome` is non-diabetic (0).

In [168]:
df['Outcome'].value_counts()

Adding the `normalize` argument returns proportions instead of absolute counts.

In [169]:
df['Outcome'].value_counts(normalize=True)

Turn off automatic sorting of results using `sort` argument (`True` by default). The default sorting is based on the counts in descending order.

In [170]:
df['Outcome'].value_counts(sort=False)

You can also apply `.value_counts()` to a DataFrame object and specific columns within it instead of just a column. Here, for example, we are applying `value_counts()` on `df` with the subset argument, which takes in a list of columns.

In [171]:
df.value_counts(subset=['Pregnancies', 'Outcome'])

### Aggregating data with `.groupby()` in pandas

pandas lets you aggregate values by grouping them by specific column values. You can do that by combining the `.groupby()` method with a summary method of your choice. The below code displays the mean of each of the numeric columns grouped by `Outcome`.

In [172]:
df.groupby('Outcome').mean()

`.groupby()` enables grouping by more than one column by passing a list of column names, as shown below.

In [173]:
df.groupby(['Pregnancies', 'Outcome']).mean()

Any summary method can be used alongside `.groupby()`, including `.min()`, `.max()`, `.mean()`, `.median()`, `.sum()`, `.mode()`, and more.

### Pivot tables 

pandas also enables you to calculate summary statistics as pivot tables. This makes it easy to draw conclusions based on a combination of variables. The below code picks the rows as unique values of `Pregnancies`, the column values are the unique values of `Outcome`, and the cells contain the average value of `BMI` in the corresponding group.

For example, for `Pregnancies = 5` and `Outcome = 0`, the average BMI turns out to be 31.1.

In [174]:
import numpy as np

pd.pivot_table(df, values="BMI", index='Pregnancies', 
               columns=['Outcome'], aggfunc=np.mean)

## Data visualization in pandas

pandas provides convenience wrappers to `Matplotlib` plotting functions to make it easy to visualize your DataFrames. Below, you'll see how to do common data visualizations using pandas.

### Line plots in pandas

pandas enables you to chart out the relationships among variables using line plots. Below is a line plot of BMI and Glucose versus the row index.

In [175]:
df[['BMI', 'Glucose']].plot.line()

You can select the choice of colors by using the color argument.

In [176]:
df[['BMI', 'Glucose']].plot.line(figsize=(20, 10), 
                                 color={"BMI": "red", "Glucose": "blue"})

All the columns of `df` can also be plotted on different scales and axes by using the `subplots` argument.

In [177]:
df.plot.line(subplots=True)

### Bar plots in pandas

For discrete columns, you can use a bar plot over the category counts to visualize their distribution. The variable `Outcome` with binary values is visualized below.

In [178]:
df['Outcome'].value_counts().plot.bar()

### Box plots in pandas

The quartile distribution of continuous variables can be visualized using a boxplot. The code below lets you create a boxplot with pandas.

In [179]:
df.boxplot(column=['BMI'], by='Outcome')

## Learn more about pandas

The tutorial above scratches the surface of what's possible with pandas. Whether analyzing data, visualizing it, filtering, or aggregating it, pandas provides an incredibly rich feature set that lets you accelerate any data workflow. Moreover, by combining pandas with other data science packages, you'll be able to create interactive dashboards, create predictive models using machine learning, automate data workflows, and more. Check out the resources below to accelerate your pandas learning journey:

- [[Cheat Sheets](https://www.datacamp.com/cheat-sheet/category/python)] A plethora of Python and [pandas cheat sheets](https://www.datacamp.com/cheat-sheet/pandas-cheat-sheet-for-data-science-in-python) to reference throughout your learning 
- [[Live trainings](https://www.datacamp.com/resources)] Check out our free live-code-along sessions, many of which leverage pandas
- [[More tutorials](https://www.datacamp.com/tutorial/category/python)] Check out our remaining tutorials on pandas and the PyData ecosystem, including [how to implement moving averages in pandas](https://www.datacamp.com/tutorial/moving-averages-in-pandas) and [using the pandas .apply() method](https://www.datacamp.com/tutorial/pandas-apply)